header {
    width: 100%;
    padding: 20px 50px;
    background: url(./../images/15768\ 1.png);
    background-size: 1500px 800px;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .logo img {
    width: 50px;
}

.navbar .nav-links{
    margin-right: 50px;
}

.navbar a{
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}


.navbar a:hover{
    color:cadetblue;
    position: relative;
    top: 5px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero-content {
    text-align: left;
    max-width: 600px;
    margin-right: 150px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px; 
    animation-name: anim;
    animation-duration: 1s;
    animation-timing-function:ease-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    padding: 15px 30px;
    background: #6200ea;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover {
    background: #3700b3;
}

.about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.info {
    margin-bottom: 50px;
}

.info h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.info p {
    width: 600px;
    margin-left: 300px;
}

.about .cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.about .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 30%;
    margin: 20px 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.about .card:hover{
    background-color: #3700b3;
    color: white;
    transform: scale(1.2,1.2);
}

.about .card img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.about .card h3 {
    margin: 20px 0 10px;
}


/* @media screen and (max-width: 768px) {
    .card {
        width: 80%;
    }
} */

.design {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 200px;
    text-align: center;
    background-color: #f4f4f4;
    height: 700px;
    padding-top: 50px;

}

.design .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.design .card-image {
    width: 75%;
    max-width: 400px;
    height: 250px;
    align-items: center;
}

.design .card-content {
    width: 45%;
    max-width: 400px;
    margin: 20px;
    text-align: left;
}

.design .card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.design .card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.design .card ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

.design .card li {
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
}

.testimonial {
    padding: 40px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.user-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 20px;
}

.testimonial-text {
    font-size: 25px;
    margin: 10px 105px;
}

.user-name {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.user-role {
    color: #777;
    margin-bottom: 20px;
}

.star-rating span {
    font-size: 1.5em;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-top: 1px solid #ddd;
    height: 100px;
}

.contact-info {
    display: flex;
    align-items: center;
    color: #6A0DAD;
}

.contact-icon {
    margin-right: 10px;
}

.contact-number {
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
}

.contact-text {
    flex-grow: 1;
    margin: 100px 50px;
    font-size: 20px;


}

.social-media a {
    margin: 0 10px;
    color: #6A0DAD;
    font-size: 1.5em;
    text-decoration: none;
}




@keyframes anim{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

