.form{
    background-color: darkgray;
    font-size: 20px;
    width: 500px;
    height: 350px;
    margin-left: 50px;
    padding-left: 20px;
}

.form h3{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form .btn{
    text-decoration: none;
    border: solid 1px;
    width: 55px;
    border-radius: 5px;
    background: transparent;
    margin-left: 200px;
}

/* #geeks1 {
    background: teal;
    display: block;
    height: 100px;
    width: 200px;
}
#geeks2 {
    background: cyan;
    display: block;
    height: 100px;
    width: 200px;
}
#geeks3 {
    background: green;
    display: block;
    height: 100px;
    width: 200px;
} */

.geeks1{
    background-color: cyan;
    display: inline-block;
    height: 100px;
    width: 200px;
    
}

#geeks4 {
    background: teal;
    display: inline;
    height: 100px;
    width: 200px;
}
#geeks5 {
    background: cyan;
    display: inline;
    height: 100px;
    width: 200px;
}
#geeks6 {
    background: green;
    display: inline;
    height: 100px;
    width: 200px;
}

#geeks7 {
    background:var(--mycolor);
    display: inline-block;
    height: 100px;
    width: 200px;
}
#geeks8 {
    background: cyan;
    display: inline-block;
    height: 100px;
    width: 200px;
}
#geeks9 {
    background: var(--mycolor);
    display: inline-block;
    height: 100px;
    width: 200px;
}

.dis{
    display: flex;
    border: 1px solid black;
    width: 300px;
    justify-content: space-around;
}

:root{
    --mycolor: green
}

.image:hover{
    width: 100px;
    height: 100px;
    transform: scale(1.5, 1.5);
}


.example-table{
    display: table;
    width: 100%;
    background-color: aqua;
}

.example-table-row{
    display: table-row;
}

.example-table-cell{
    display: table-cell;
    padding: 5px;
    background-color: yellow;
    border: solid 1px ;
    size: 50px;
}

